@charset "UTF-8";
body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v18-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v18-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v18-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v18-latin_cyrillic-700.woff") format("woff"), url("../fonts/raleway-v18-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v18-latin_cyrillic-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v20-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-hero, .checkbox-field, .modal-submit, .icon {
  margin-left: auto;
  margin-right: auto;
}

.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
}

/*section*/
.page-header {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

/*logo*/
@media screen and (min-width: 1200px) {
  .page-header .Logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .page-header .Logo {
    margin-right: 88px;
    margin-bottom: 0px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (max-width: 767px) {
  .page-header .container {
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ececec;
  }
}

@media screen and (max-width: 767px) {
  .page-header {
    height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .page-header .container {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/*button*/
.menu-button {
  display: inline-flex;
  margin-right: 0px;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-mobile-close {
  display: none;
}

.menu-button.is-open .icon-mobile-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.icon-menu,
.icon-mobile-close {
  fill: #212121;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-menu:hover,
.icon-menu:focus,
.icon-mobile-close:hover,
.icon-mobile-close:focus {
  fill: #2196f3;
}

/*div*/
@media screen and (max-width: 767px) {
  .menu-container {
    background-color: #ffffff;
    padding: 60px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    display: none;
    position: absolute;
    height: 400px;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    align-items: center;
  }
}

/*Web*/
.page-header .Web {
  color: #2196f3;
}

/*studio*/
.page-header .studio {
  color: #212121;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
  }
}

/*ul*/
.nav-list {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .nav-list {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }
}

/*li*/
@media screen and (min-width: 768px) {
  .list-item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .list-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .list-item.current {
    margin-bottom: 52px;
  }
}

/*a*/
.list-link {
  position: relative;
  display: inline-block;
  color: #212121;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-link:hover, .list-link:focus {
  color: #2196f3;
}

.list-link.current {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .list-link {
    font-size: 14px;
  }
}

.list-link.current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  bottom: -12px;
}

@media screen and (min-width: 768px) {
  .list-link.current::after {
    bottom: -32px;
  }
}

/*ul*/
.header-contacts {
  padding: 0px;
  margin: 0px;
}

/*ul*/
@media screen and (max-width: 767px) {
  .header-contacts {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts {
    display: flex;
    flex-wrap: wrap;
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    margin-left: 305px;
  }
}

/*li*/
@media screen and (max-width: 767px) {
  .contacts-item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-item:not(:last-child) {
    margin-right: 30px;
  }
}

/*a*/
.contacts-link {
  display: inline-flex;
  align-items: center;
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
  font-size: 18px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover, .contacts-link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .contacts-link {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
  }
}

/*svg*/
.contacts-icon {
  padding: 0px;
  margin-right: 10px;
  fill: currentColor;
}

.Logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/*section*/
.main-hero {
  padding-bottom: 118px;
  padding-top: 118px;
  text-align: center;
}

/*
@media screen and (max-width: 767px) {
  .main-hero {
    margin-top: 60px;
  }
}
*/
@media screen and (min-width: 1200px) {
  .main-hero {
    padding-bottom: 200px;
    padding-top: 200px;
  }
}

.main-hero {
  background-color: #212121;
  height: 400px;
  max-width: 480px;
  background-position: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile-opt@1x.jpg);
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .main-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile-opt@2x.jpg);
  }
}

@media screen and (min-width: 480px) {
  .main-hero {
    height: 400px;
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet-opt@1x.jpg);
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .main-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet-opt@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .main-hero {
    height: 400px;
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desctop-opt@1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .main-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desctop-opt@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .main-hero {
    height: 600px;
    max-width: 1600px;
  }
}

/*h1*/
.hero {
  margin-bottom: 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .hero {
    margin-bottom: 30px;
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 0.06em;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
}

/*button*/
.hero-button {
  width: 200px;
  height: 50px;
  padding: 0px;
  border: 0px;
  background-color: #2196f3;
  border-radius: 4px;
}

/*span*/
.hero-button-name {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 2px;
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #fff;
  background-color: #2196f3;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  overflow-y: scroll;
  z-index: 100;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .backdrop {
    padding: 50px 15px;
  }
}

.backdrop {
  z-index: 2;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  padding: 40px;
  max-width: 100%;
  overflow-x: hidden;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
}

@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

/*button*/
.close {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: #ffffff;
}

/*svg*/
.close-icon:hover {
  fill: #2196f3;
}

/*b*/
.modal-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/*div*/
.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.form-field:nth-child(4) {
  margin-bottom: 20px;
}

/*input*/
.field-input {
  display: block;
  width: 100%;
  height: 40px;
  margin: 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.field-input:focus {
  outline: transparent;
  border-color: #2196f3;
}

.field-input:focus + .form-icons {
  fill: #2196f3;
}

.form-lable {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  border: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
}

/*div*/
.form-input {
  position: relative;
}

.form-icons {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: #212121;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*textarea*/
.form-comment {
  display: block;
  width: 100%;
  resize: none;
  height: 120px;
  padding-left: 16px;
  margin: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment:focus {
  outline: transparent;
  border-color: #2196f3;
}

/*div*/
.checkbox-field {
  margin-bottom: 30px;
  width: 425px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 1199px) {
  .checkbox-label {
    font-size: 12px;
  }
}

.checkbox-label::before {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  content: "";
  background-image: url(../images/icon/icon.check.off.svg);
  background-size: contain;
  transition-property: background-image;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-label::before {
  background-image: url(../images/icon/icon.check.on.svg);
}

/*a*/
.checkbox-contract {
  color: #2196f3;
  text-decoration: underline;
  white-space: pre-wrap;
}

/*button*/
.modal-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 50px;
  padding: 2px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}

.main-features {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .main-features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/*ul*/
.features-list {
  padding: 0px;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .features-link:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-link {
    width: calc((100% - 30px) / 2);
  }
  .features-link:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .features-link:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-link {
    width: calc((100% - 3 * 30px) / 4);
  }
  .features-link:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

.features-lable {
  padding: 25px;
  margin-bottom: 30px;
  text-align: center;
  background-color: #f5f4fa;
}

.features-icon {
  width: 70px;
  height: 70px;
}

.features-title {
  text-align: center;
  margin-bottom: 10px;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .features-title {
    text-align: start;
  }
}

.features-description {
  margin-bottom: 0px;
  margin-top: 0px;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.71;
}

.features-description::first-letter {
  text-transform: capitalize;
}

/*section*/
.main-doing {
  padding-top: 0px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .main-doing {
    display: none;
  }
}

/*ul*/
.doing-list {
  display: flex;
}

/*li*/
.doing-link {
  position: relative;
}

.doing-link:not(:last-child) {
  margin-right: 30px;
}

/*h2*/
.doing-title {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .doing-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

/*p*/
.doing-description {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*section*/
.main-comand {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: #f5f4fa;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .main-comand {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

/*h2*/
.comand-title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .comand-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

/*ul*/
.comand-list {
  padding: 0px;
}

@media screen and (max-width: 767px) {
  .comand-list {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .comand-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .comand-list {
    flex-wrap: nowrap;
  }
}

/*li*/
.comand-link {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .comand-link {
    width: 100%;
  }
  .comand-link:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .comand-link {
    width: calc((100% - 30px) / 2);
  }
  .comand-link:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .comand-link:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .comand-link {
    width: calc((100% - 3 * 30px) / 4);
  }
  .comand-link:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

.comand-link img {
  width: 450px;
}

@media screen and (min-width: 768px) {
  .comand-link img {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .comand-link img {
    width: 270px;
  }
}

/*div*/
.comand-card {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}

/*h3*/
.card-title {
  margin-bottom: 10px;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-transform: capitalize;
}

/*p*/
.card-description {
  margin-bottom: 16px;
  color: #757575;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
}

/*ul*/
.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

/*li*/
.social-icon .icon-list + .icon-list {
  margin-left: 10px;
}

/*a*/
.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/*svg*/
.icon {
  width: 20px;
  height: 20px;
  display: block;
  padding: 0px;
  fill: currentColor;
}

/*section*/
.main-customers .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .main-customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/*h2*/
.customers-title {
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .customers-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

/*ul*/
.customer-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
}

@media screen and (min-width: 1200px) {
  .customer-list {
    flex-wrap: nowrap;
  }
}

/*li*/
.customer-lable {
  width: calc((100% - 30px) / 2);
  height: 90px;
}

@media screen and (min-width: 480px) {
  .customer-lable {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .customer-lable {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .customer-lable {
    width: 170px;
  }
}

@media screen and (max-width: 767px) {
  .customer-lable:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .customer-lable:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .customer-lable:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .customer-lable:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .customer-lable {
    margin-bottom: 30px;
  }
  .customer-lable:not(:last-child) {
    margin-right: 30px;
  }
}

/*a*/
.customer-link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover, .customer-link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

/*svg*/
.customer-icon {
  fill: currentColor;
}

/*section*/
.page-footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer {
  background: #212121;
  font-style: normal;
}

.page-footer .container {
  text-align: center;
}

/*Logo*/
.footer-address .Web {
  color: #2196f3;
}

.footer-address .studio {
  color: #ffffff;
}

.page-footer .Logo {
  display: block;
  margin-bottom: 20px;
}

/*div*/
@media screen and (min-width: 1200px) {
  .footer-content {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

/*div*/
@media screen and (min-width: 1200px) {
  .footer-content {
    text-align: start;
    flex-wrap: nowrap;
  }
}

/*div*/
.footer-address {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-address {
    margin-left: 61px;
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address {
    width: 231px;
    margin-left: 0px;
    margin-right: 70px;
    margin-bottom: 0px;
  }
}

/*p*/
.address-description {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
}

/*p*/
@media screen and (min-width: 768px) {
  .address-description {
    margin-bottom: 9px;
  }
}

/*a*/
.address-name {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-name:hover, .address-name:focus {
  color: #2196f3;
}

.address-name:not(:last-child) {
  margin-bottom: 9px;
}

/*div*/
.footer-icon {
  display: block;
}

.footer-icon .icon-link:hover,
.footer-icon .icon-link:focus {
  background-color: #2196f3;
}

.footer-icon .icon-link {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 767px) {
  .footer-icon {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-icon {
    margin-right: 74px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-icon {
    margin-right: 93px;
  }
}

/*p*/
.footer-slogan {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/*div*/
@media screen and (min-width: 768px) {
  .footer-submit {
    margin-left: 166px;
    margin-right: 152px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-submit {
    margin-left: 0px;
    margin-right: 0px;
  }
}

/*p*/
.footer-description {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/*form*/
@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
  }
}

/*input*/
.footer-input {
  height: 50px;
  padding: 15px 5px 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-bottom: 20px;
  width: 100%;
  background-color: transparent;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .footer-input {
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-input {
    margin-bottom: 0px;
    min-width: 358px;
    margin-right: 12px;
  }
}

.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 2px;
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/*span*/
.footer-text {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}

.footer-text::after {
  display: block;
  margin-left: 10px;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/icon/icon.send.svg);
}

/*container*/
.main-portfolio .container {
  padding: 60px 15px;
  background-color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .main-portfolio .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/*Слайди*/
/*ul*/
@media screen and (min-width: 768px) {
  .portfolio-slids {
    display: flex;
    flex-wrap: wrap;
  }
}

.portfolio-slids {
  padding: 0px;
  margin: 0px;
}

/*li*/
.slids-filter:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .slids-filter {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .slids-filter {
    width: 354px;
  }
  .slids-filter:nth-child(-n + 8) {
    margin-bottom: 30px;
  }
  .slids-filter:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .slids-filter {
    width: 370px;
  }
  .slids-filter:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .slids-filter:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.slids-filter {
  position: relative;
}

/*a*/
.filter {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter:hover, .filter:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter:hover .overlay,
.filter:focus .overlay {
  transform: translateY(0);
  opacity: 1;
}

/*div*/
.filter-image {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 480px) {
  .filter-image {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .filter-image {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-image {
    width: 370px;
  }
}

/*div*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-size: 18px;
  line-height: 1.5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

/*p*/
@media screen and (min-width: 768px) {
  .overlay-description {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay-description {
    padding: 63px 24px;
  }
}

.overlay-description {
  padding: 63px 24px;
  margin: 0;
}

/*div*/
.filter-card {
  width: 100%;
  text-align: left;
  padding: 20px 20px 24px;
  background-color: #ffffff;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
}

/*h3*/
.filter-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: #212121;
}

/*p*/
.filter-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #757575;
}

/*butons*/
/*ul*/
.portfolio-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 40px;
  border-radius: 4px;
  margin-top: 0px;
  padding-left: 0px;
  background: #ffffff;
}

@media screen and (min-width: 768px) {
  .portfolio-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-buttons {
    margin-bottom: 50px;
  }
}

/*li*/
.button-filter {
  display: block;
}

.button-filter:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
  margin-top: 0px;
  padding: 0px;
}

@media screen and (min-width: 768px) {
  .button-filter:not(:last-child) {
    margin-right: 9px;
    margin-bottom: 0;
  }
}

/*кнопка*/
.button-link {
  display: inline-block;
  border: 0px;
  padding: 6px 22px;
  border-radius: 4px;
  background-color: #f5f4fa;
  color: #212121;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-link:hover, .button-link:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*название кнопки*/
.button-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: currentColor;
}
/*# sourceMappingURL=main.css.map */