@charset "UTF-8";
body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v18-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v18-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v18-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v18-latin_cyrillic-700.woff") format("woff"), url("../fonts/raleway-v18-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v18-latin_cyrillic-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v20-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-hero, .checkbox-field, .modal-submit, .features-link, .comand-list, .comand-link, .icon, .customer-list, .customer-icon {
  margin-left: auto;
  margin-right: auto;
}

.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.page-header .Logo {
  margin-left: auto;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-bottom: 0px;
}

/*Web*/
.header-navigation .Web {
  color: #2196f3;
}

/*studio*/
.header-navigation .studio {
  color: #212121;
}

.header-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*ul*/
.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  color: #212121;
}

/*li*/
.nav-list .list-item + .list-item {
  margin-left: 50px;
}

/*a*/
.list-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-link:hover, .list-link:focus {
  color: #2196f3;
}

.list-link.current {
  color: #2196f3;
}

/*li*/
.list-item {
  position: relative;
}

/*a*/
.list-link.current::after {
  position: absolute;
  bottom: 0px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

/*ul*/
.header-contacts {
  display: flex;
  margin: 0px;
  padding: 0px;
}

/*li*/
.header-contacts .contacts-item + .contacts-item {
  margin-left: 50px;
  margin-right: auto;
}

/*a*/
.contacts-link {
  display: inline-flex;
  align-items: center;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover, .contacts-link:focus {
  color: #2196f3;
}

/*svg*/
.contacts-icon {
  margin-right: 10px;
  padding: 0px;
  fill: currentColor;
}

.Logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/*container*/
.main-hero .container {
  width: 770px;
  text-align: center;
  padding-right: 0px;
  padding-left: 0px;
}

/*section*/
.main-hero {
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #212121;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*h1*/
.hero {
  width: 696px;
  margin: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

/*button*/
.hero-button {
  width: 200px;
  height: 50px;
  padding: 0px;
  border: 0px;
  background-color: #2196f3;
  border-radius: 4px;
}

.hero-button-name {
  width: 200px;
  padding: 0px;
  border: 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  z-index: 2;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 581px;
  min-width: 528px;
  padding: 40px;
  background-color: #ffffff;
}

/*button*/
.close {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: #ffffff;
}

/*svg*/
.close-icon:hover {
  fill: #2196f3;
}

/*b*/
.modal-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/*div*/
.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.form-field:nth-child(4) {
  margin-bottom: 20px;
}

/*input*/
.field-input {
  display: block;
  width: 100%;
  height: 40px;
  margin: 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.field-input:focus {
  outline: transparent;
  border-color: #2196f3;
}

.field-input:focus + .form-icons {
  fill: #2196f3;
}

.form-lable {
  display: block;
  margin-bottom: 4px;
  border: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
}

/*div*/
.form-input {
  position: relative;
}

.form-icons {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: #212121;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*textarea*/
.form-comment {
  display: block;
  width: 100%;
  resize: none;
  height: 120px;
  padding-left: 16px;
  margin: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment:focus {
  outline: transparent;
  border-color: #2196f3;
}

/*div*/
.checkbox-field {
  margin-bottom: 30px;
  width: 425px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox-label::before {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  content: "";
  background-image: url(../images/icon/icon.check.off.svg);
  background-size: contain;
  transition-property: background-image;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-label::before {
  background-image: url(../images/icon/icon.check.on.svg);
}

/*a*/
.checkbox-contract {
  color: #2196f3;
  text-decoration: underline;
  white-space: pre-wrap;
}

/*button*/
.modal-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 50px;
  padding: 2px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}

.main-features .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: left;
}

/*section*/
.main-features {
  background-color: #ffffff;
}

/*ul*/
.features-list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

/*li*/
.features-link {
  width: 270px;
  display: block;
}

/*h3*/
.features-title {
  width: 270px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

/*p*/
.features-description {
  width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.features-list .features-link + .features-link {
  margin-left: 30px;
}

/*div*/
.features-lable {
  width: 270px;
  height: 120px;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.main-doing .container {
  padding-bottom: 94px;
}

/*section*/
.main-doing {
  background-color: #ffffff;
}

/*h2*/
.doing-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/*ul*/
.doing-list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.doing-list .doing-link + .doing-link {
  margin-left: 30px;
}

/*li*/
.doing-link {
  position: relative;
}

/*p*/
.doing-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  text-align: center;
  margin: 0px;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}

/*container*/
.main-comand .container {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

/*section*/
.main-comand {
  background: #f5f4fa;
}

/*h2*/
.comand-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/*ul*/
.comand-list {
  width: 1170px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f5f4fa;
}

/*li*/
.comand-link {
  width: 270px;
  display: block;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}

.comand-list .comand-link + .comand-link {
  margin-left: 30px;
}

/*h3*/
.card-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/*p*/
.card-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.comand-card {
  padding: 30px 32px;
}

/*ul*/
.social-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

/*li*/
.social-icon .icon-list + .icon-list {
  margin-left: 10px;
}

/*a*/
.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*svg*/
.icon {
  display: block;
  padding: 0px;
  fill: currentColor;
}

.icon-link:hover,
.icon-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/*container*/
.main-customers .container {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.main-customers {
  background-color: #ffffff;
}

/*h2*/
.customers-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/*ul*/
.customer-list {
  width: 1170px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*li*/
.customer-lable {
  margin: 0px;
  padding: 0px;
}

.customer-list .customer-lable + .customer-lable {
  margin-left: 30px;
}

/*a*/
.customer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  margin: 0px;
  padding: 0px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover, .customer-link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

/*svg*/
.customer-icon {
  display: block;
  fill: currentColor;
}

/*container*/
.page-footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-content {
  display: flex;
  align-items: baseline;
}

.page-footer {
  background: #212121;
}

/*Logo*/
.footer-address .Web {
  color: #2196f3;
}

.footer-address .studio {
  color: #ffffff;
}

.page-footer .Logo {
  display: block;
  margin-bottom: 20px;
}

/*div*/
.footer-icon {
  width: 206px;
  margin-left: 70px;
}

.footer-icon .icon-link:hover,
.footer-icon .icon-link:focus {
  background-color: #2196f3;
}

.footer-icon .icon-link {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

/*p*/
.footer-slogan {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}

/*address*/
.address-links {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
}

/*p*/
.address-description {
  color: #ffffff;
}

/*a*/
.address-name {
  display: block;
  margin-top: 9px;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-name:hover, .address-name:focus {
  color: #2196f3;
}

/*div*/
.footer-submit {
  display: block;
  margin-left: 93px;
}

/*form*/
.footer-form {
  display: flex;
}

/*p*/
.footer-description {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/*input*/
.footer-input {
  min-width: 358px;
  height: 50px;
  padding: 15px 5px 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
}

/*button*/
.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 2px;
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/*span*/
.footer-text {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}

.footer-text::after {
  display: block;
  margin-left: 10px;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/icon/icon.send.svg);
}

/*container*/
.main-portfolio .container {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #ffffff;
}

/*Слайди*/
/*ul*/
.portfolio-slids {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
}

/*li*/
.slids-filter {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  display: block;
  background-color: #ffffff;
}

.slids-filter:nth-child(3n) {
  margin-right: 0px;
}

.slids-filter:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.slids-filter {
  position: relative;
}

/*a*/
.filter {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter:hover, .filter:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter:hover .overlay,
.filter:focus .overlay {
  transform: translateY(0);
  opacity: 1;
}

/*div*/
.filter-image {
  position: relative;
  overflow: hidden;
}

/*div*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-size: 18px;
  line-height: 1.5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

/*p*/
.overlay-description {
  padding: 63px 24px;
  margin: 0;
}

/*div*/
.filter-card {
  width: 370px;
  background-color: #ffffff;
  text-align: left;
  padding: 20px 24px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
}

/*h3*/
.filter-title {
  width: 322px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: #212121;
}

/*p*/
.filter-description {
  width: 322px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #757575;
}

/*butons*/
/*ul*/
.portfolio-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 50px;
  margin-top: 0px;
  padding-left: 0px;
  background: #ffffff;
}

/*li*/
.button-filter {
  display: block;
}

/*кнопка*/
.button-link {
  border: 0px;
  padding: 6px 22px;
  border-radius: 4px;
  background-color: #f5f4fa;
  color: #212121;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-link:hover, .button-link:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*название кнопки*/
.button-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: currentColor;
}

.portfolio-buttons .button-filter + .button-filter {
  margin-left: 8px;
}
/*# sourceMappingURL=main.css.map */