/*address*/
.address-links {
  display: flex;
  flex-direction: column;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
}
/*p*/
.address-description {
  color: $white-color;
}

/*a*/
.address-name {
  display: block;
  margin-top: 9px;

  color: $accent-grey-color;

  @include transition(color);

  &:hover,
  &:focus {
    color: $title-blue-color;
  }
}
