/*section*/
.main-comand {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: $accent-grayish-color;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .main-comand {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}
/*h2*/
.comand-title {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .comand-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}
/*ul*/
.comand-list {
  padding: 0px;
}
@media screen and (max-width: 767px) {
  .comand-list {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .comand-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .comand-list {
    flex-wrap: nowrap;
  }
}
/*li*/
.comand-link {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: $white-color;
}

@media screen and (max-width: 767px) {
  .comand-link {
    width: 100%;
  }

  .comand-link:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .comand-link {
    width: calc((100% - 30px) / 2);
  }

  .comand-link:nth-child(2n + 1) {
    margin-right: 30px;
  }

  .comand-link:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .comand-link {
    width: calc((100% - 3 * 30px) / 4);
  }

  .comand-link:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

.comand-link img {
  width: 450px;
}

@media screen and (min-width: 768px) {
  .comand-link img {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .comand-link img {
    width: 270px;
  }
}
/*div*/
.comand-card {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}
/*h3*/
.card-title {
  margin-bottom: 10px;
  color: $text-black-color;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-transform: capitalize;
}
/*p*/
.card-description {
  margin-bottom: 16px;
  color: $accent-grey-color;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
}
