/*container*/
.main-comand .container {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}
/*section*/
.main-comand {
  background: $accent-grayish-color;
}
/*h2*/
.comand-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: $text-black-color;
}
/*ul*/
.comand-list {
  width: 1170px;

  @extend %margin-center;

  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;

  @include center-flex(space-around);

  background: $accent-grayish-color;
}

/*li*/
.comand-link {
  width: 270px;
  display: block;

  @extend %margin-center;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background: $white-color;
}
.comand-list .comand-link + .comand-link {
  margin-left: 30px;
}
/*h3*/
.card-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: $text-black-color;
}
/*p*/
.card-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: $accent-grey-color;
  margin-bottom: 16px;
}
.comand-card {
  padding: 30px 32px;
}
