/*section*/
.main-doing {
  padding-top: 0px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .main-doing {
    display: none;
  }
}
/*ul*/
.doing-list {
  display: flex;
}
/*li*/
.doing-link {
  position: relative;
}

.doing-link:not(:last-child) {
  margin-right: 30px;
}
/*h2*/
.doing-title {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .doing-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}
/*p*/
.doing-description {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 70px;
  @include center-flex(center);
  background-color: $accent-text-decoretion-color;
  color: $white-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
