/*div*/
@media screen and (min-width: 768px) {
  .footer-submit {
    margin-left: 166px;
    margin-right: 152px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-submit {
    margin-left: 0px;
    margin-right: 0px;
  }
}
/*p*/
.footer-description {
  display: inline-block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $white-color;
}
/*form*/
@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
  }
}
/*input*/
.footer-input {
  height: 50px;
  padding: 15px 5px 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  margin-bottom: 20px;
  width: 100%;

  background-color: transparent;
  color: $white-color;
}

@media screen and (min-width: 480px) {
  .footer-input {
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-input {
    margin-bottom: 0px;
    min-width: 358px;
    margin-right: 12px;
  }
}

.footer-button {
  @include center-flex(center);
  margin-left: auto;
  margin-right: auto;

  border: 1px solid transparent;
  border-radius: 4px;
  padding: 2px;
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: $white-color;
  background-color: $title-blue-color;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
/*span*/
.footer-text {
  display: flex;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}
.footer-text::after {
  display: block;

  margin-left: 10px;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/icon/icon.send.svg);
}
