.page-header .container {
  @include center-flex(space-between);
  min-height: 60px;
}
/*section*/
.page-header {
  position: relative;
  z-index: 1;

  background-color: $white-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $accent-header-border-color;
}
/*logo*/
@media screen and (min-width: 1200px) {
  .page-header .Logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .page-header .Logo {
    margin-right: 88px;
    margin-bottom: 0px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (max-width: 767px) {
  .page-header .container {
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $white-color;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $accent-header-border-color;
  }
}
@media screen and (max-width: 767px) {
  .page-header {
    height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .page-header .container {
    min-height: 80px;
    @include center-flex(space-between);
  }
}

/*button*/
.menu-button {
  display: inline-flex;
  margin-right: 0px;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-mobile-close {
  display: none;
}

.menu-button.is-open .icon-mobile-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}
.icon-menu,
.icon-mobile-close {
  fill: $text-black-color;
  @include transition(fill);
}

.icon-menu:hover,
.icon-menu:focus,
.icon-mobile-close:hover,
.icon-mobile-close:focus {
  fill: $title-blue-color;
}
/*div*/
@media screen and (max-width: 767px) {
  .menu-container {
    background-color: $white-color;
    padding: 60px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    display: none;
    position: absolute;
    height: 400px;
    top: 100%;
    left: 0;
    width: 100%;
  }

  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    align-items: center;
  }
}

/*Web*/
.page-header .Web {
  color: $title-blue-color;
}
/*studio*/
.page-header .studio {
  color: $text-black-color;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
  }
}

/*ul*/
.nav-list {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .nav-list {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }
}
/*li*/
@media screen and (min-width: 768px) {
  .list-item:not(:last-child) {
    margin-right: 50px;
  }
}
@media screen and (max-width: 767px) {
  .list-item:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 767px) {
  .list-item.current {
    margin-bottom: 52px;
  }
}
/*a*/
.list-link {
  position: relative;
  display: inline-block;
  color: $text-black-color;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  @include transition(color);

  &:hover,
  &:focus {
    color: $title-blue-color;
  }
}
.list-link.current {
  color: $title-blue-color;
}
@media screen and (min-width: 768px) {
  .list-link {
    font-size: 14px;
  }
}

.list-link.current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: $title-blue-color;
  border-radius: 2px;
  bottom: -12px;
}

@media screen and (min-width: 768px) {
  .list-link.current::after {
    bottom: -32px;
  }
}
/*ul*/
.header-contacts {
  padding: 0px;
  margin: 0px;
}
/*ul*/
@media screen and (max-width: 767px) {
  .header-contacts {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts {
    display: flex;
    flex-wrap: wrap;
    margin-left: 84px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    margin-left: 305px;
  }
}
/*li*/
@media screen and (max-width: 767px) {
  .contacts-item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-item:not(:last-child) {
    margin-right: 30px;
  }
}
/*a*/
.contacts-link {
  display: inline-flex;
  align-items: center;

  color: $accent-grey-color;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
  font-size: 18px;

  @include transition(color);

  &:hover,
  &:focus {
    color: $title-blue-color;
  }
}

@media screen and (min-width: 768px) {
  .contacts-link {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
  }
}
/*svg*/
.contacts-icon {
  padding: 0px;
  margin-right: 10px;
  fill: currentColor;
}
