/*container*/
.main-hero .container {
  width: 770px;
  text-align: center;
  padding-right: 0px;
  padding-left: 0px;
}
/*section*/
.main-hero {
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  @extend %margin-center;
  padding-right: 15px;
  padding-left: 15px;

  background-color: $text-black-color;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/*h1*/
.hero {
  width: 696px;
  margin: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white-color;
}
/*button*/

.hero-button {
  width: 200px;
  height: 50px;
  padding: 0px;
  border: 0px;

  background-color: $title-blue-color;
  border-radius: 4px;
}
.hero-button-name {
  width: 200px;
  padding: 0px;
  border: 0px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: $white-color;
}
