/*container*/
.main-portfolio .container {
  padding: 60px 15px;

  background-color: $white-color;
}
@media screen and (min-width: 1200px) {
  .main-portfolio .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
/*Слайди*/
/*ul*/

@media screen and (min-width: 768px) {
  .portfolio-slids {
    display: flex;
    flex-wrap: wrap;
  }
}
.portfolio-slids {
  padding: 0px;
  margin: 0px;
}
/*li*/
.slids-filter:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .slids-filter {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .slids-filter {
    width: 354px;
  }

  .slids-filter:nth-child(-n + 8) {
    margin-bottom: 30px;
  }

  .slids-filter:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .slids-filter {
    width: 370px;
  }
  .slids-filter:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .slids-filter:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.slids-filter {
  position: relative;
}
/*a*/
.filter {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;

  @include transition(box-shadow);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .overlay,
  &:focus .overlay {
    transform: translateY(0);
    opacity: 1;
  }
}
/*div*/
.filter-image {
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 480px) {
  .filter-image {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .filter-image {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-image {
    width: 370px;
  }
}

/*div*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $accent-overlay-color;
  color: $white-color;
  font-size: 18px;
  line-height: 1.5;

  transform: translateY(100%);
  transition: transform 250ms $timing-function;
  opacity: 0;
}
/*p*/
@media screen and (min-width: 768px) {
  .overlay-description {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay-description {
    padding: 63px 24px;
  }
}
.overlay-description {
  padding: 63px 24px;
  margin: 0;
}
/*div*/

.filter-card {
  width: 100%;
  text-align: left;
  padding: 20px 20px 24px;

  background-color: $white-color;

  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: $accent-border-b-color;

  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: $accent-border-b-color;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $accent-border-b-color;
}

/*h3*/
.filter-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: $text-black-color;
}
/*p*/
.filter-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;

  color: $accent-grey-color;
}
