$white-color: #ffffff;
$text-black-color: #212121;
$title-blue-color: #2196f3;
$accent-grey-color: #757575;
$accent-grayish-color: #f5f4fa;
$accent-border-a-color: #afb1b8;
$accent-border-b-color: #eeeeee;
$accent-footer-a-color: rgba(255, 255, 255, 0.3);
$accent-footer-b-color: rgba(255, 255, 255, 0.1);
$accent-backdrop-color: rgba(0, 0, 0, 0.2);
$accent-text-decoretion-color: rgba(47, 48, 58, 0.8);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$accent-header-border-color: #ececec;
$accent-close-border-color: rgba(0, 0, 0, 0.1);
$accent-overlay-color: rgba(33, 150, 243, 0.9);
$accent-field-input-color: rgba(33, 33, 33, 0.2);

$font-raleway: "Raleway", sans-serif;
$font-roboto: "Roboto", sans-serif;
