/*
.main-features .container {
  @include center-flex(space-between);

  padding-top: 94px;
  padding-bottom: 94px;
  text-align: left;
}
/*
.main-features {
  background-color: $white-color;
}
/*
.features-list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}
/*
.features-link {
  width: 270px;
  display: block;
  @extend %margin-center;
}
/*
.features-title {
  width: 270px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $text-black-color;
}
/*
.features-description {
  width: 270px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $accent-grey-color;
}
.features-list .features-link + .features-link {
  margin-left: 30px;
}
/*
.features-lable {
  width: 270px;
  height: 120px;
  margin: 0px;
  padding: 0px;
  @include center-flex(center);
  margin-bottom: 30px;

  background-color: $accent-grayish-color;
}
